# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
taskflow-env/

# Pytest
.cache/
.pytest_cache/

# Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OS
.DS_Store

# Logs and temp files
*.log
*.tmp

# Env files
.env
.env.*

# Alembic
alembic/__pycache__/
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# mypy / pylint / flake8 / pyright
.mypy_cache/
.pyright/
.pylint.d/